<section id="my-cart">
  <div class ="item-list">
      <!------collection取代.each do |item|...end----------->
      <%= render partial: "shared/item", collection: current_cart.cart_items %>
  </div>
  <hr>
  <div class="under-my-cart">
    <div class="subtotal">
      <p><%= t(:subtotal) %></p>
      <p class="amount">$ <%= current_cart.subtotal %></p>
    </div>
  
    <div class="button" id="cart-button">   
      <%= render partial: "shared/cart_button" %>
    </div>
  </div>
  
</section>

