<section id="my-cart">
  <div class ="item-list">
      <!------collection取代.each do |item|...end----------->
      <%= render partial: "shared/item", collection: current_cart.cart_items %>
  </div>
  <hr>
  <div class="under-my-cart">
    <div class="subtotal">
      <p>SUBTOTAL</p>
      <p class="amount">$ <%= current_cart.subtotal %></p>
    </div>
  
    <div class="button" id="cart-button">   
      <% if cart_has_things? %>
        <%= link_to "View Cart", cart_path(current_cart), class: "btn btn-default"%>
      <% end %>
    </div>
    <div class="button">
      <% if !!current_user %>
        <%= link_to "My Orders", orders_path(current_user.orders), class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
  
</section>

