<div class="container">
  <div class="row">
    <%= render partial: "shared/order_item", :collection => @orders, :as => :order %>
    <div class="text-center">
      <%= paginate @orders %>
    </div>
  </div>
</div>
