.product-box {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
  margin: 20px -10px;
}

.product-box img {
  height: 100px;
  width: 130px;
}

.product-box .caption {
  height: 190px;
  padding: 10px;
}

.cart-list img {
  height: 100px;
  width: 130px;
}

.cart-item img {
  height: 50px;
  width: 50px;
}

.panel-order {
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 20px;
}

.btn {
  font-size: 12px;
  padding: 5px 7px;
  margin-bottom: 10px;
}

.panel-order a {
  color: black;
}